D      //GUI dimensions xo,yo,xl,yl,lw,rw,tw,bw,df,bor_type,bkup
10 10 599 240
4 4 4 4
7 0 1 0 1 1 0 0 0 0 1 0 0.000000 0 100 100 0
//Text Box
t
t     //code
192 26  //x1,y1
20 //Width 
1 1  //Nx,Ny,
//element formats
"Audio Media%20s"
519 57  //x2,y2
1 1 0 //Cursor Position
18 9 0 //hide
"AddAudioWidget2"
//Button Box
n
n     //code
520 25  //x1,y1
594 59  //x2,y2
2 2  //xgap,ygap
64 //length 
24 //Width 
1 1  //Nx,Ny,
1 //status
"Browse" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
 //keyboard code
5 0.150000 0  //type,fac
0 0 //hide
"AddAudioWidget3"
//Text Box
t
t     //code
200 102  //x1,y1
20 //Width 
1 1  //Nx,Ny,
//element formats
"Output%30s"
575 132  //x2,y2
1 1 0 //Cursor Position
18 9 0 //hide
"AddAudioWidget5"
//Radio Button
r
r     //code
272 141  //x1,y1
583 168  //x2,y2
8 0  //xgap, ygap
80 25  //item length,Width 
3     //ny 
1 2  // offset, scroll width 
0 0 1 0 0 // type,item hight,bordr,bkgr,hide 
"Very Good" //item
"Good" //item
"Medium" //item
"AddAudioWidget6"
//Message Box
m
m     //code
200 141  //x1,y1
"Quality"/Message
272 165 //x2,y2
1 0 //justification,hide
"AddAudioWidget7"
//Horiz bar
h
h     //code
472 202  //x1,y1
586 235  //x2,y2
2 0  //xgap,ygap
104 //length 
25 //Width 
1 1  //Nx,Ny,
1 //status
"Add Audio" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-132206206 //back ground color
 //keyboard code
2 0.500000 0  //type,fac
0 0 //hide
"AddAudioWidget13"
//Text Box
t
t     //code
191 60  //x1,y1
20 //Width 
1 1  //Nx,Ny,
//element formats
"Video Media%20s"
519 94  //x2,y2
1 1 1 //Cursor Position
18 9 0 //hide
"AddAudioWidget8"
//Button Box
n
n     //code
520 59  //x1,y1
591 91  //x2,y2
2 2  //xgap,ygap
64 //length 
24 //Width 
1 1  //Nx,Ny,
1 //status
"Browse" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
 //keyboard code
5 0.150000 0  //type,fac
0 0 //hide
"AddAudioWidget9"
